{% extends 'Eliastre100DashboardBundle::layout.html.twig' %}

{% block title %}
Dashboard {{ app.user.username }}
{% endblock %}

{% block content %}
	<h1>Dashboard</h1>
	<p>Here is your page where are show all your comunities ordered by number of users in<br />
		To create a new on you can go to <a href="{{ path('eliastre100_dashboard_create') }}">here</a><br />
		<hr />
		There is a list with all rooms already created : <br />
		<ul>
			{% for room in rooms %}
				<li><a href="{{ path('eliastre100_rooms_homepage', { name: room.name }) }}">{{ room.name }}</a></li>
			{% endfor %}
		</ul>
		<hr/>
		You can customize this page by editing the src/Eliastre100/DashboardBundle/ressources/views/Dashboard/index.html.twig<br />Note that for all page you can overload all pages <a target="_blank" href="http://symfony.com/doc/current/cookbook/bundles/override.html" >according to the documentation</a></p>
            </p></p>
{% endblock %}

{% block navdashboard %}
	class="active"
{% endblock %}
