body
{
    height: 100%;
}

#music_manager
{
    width: 85%;
    height: 90%;
    position: absolute;
    left: 0;
    bottom: 5%;
    background: rgba(218, 218, 218, 1);
    display: none;
}

.playlist_container
{
    width: 25%;
    height: 100%;
    border-right: 1px solid;
    float: left;
    padding: 10px;
    overflow: scroll;
}

.music_container
{
    width: 75%;
    height: 100%;
    float: right;
    padding: 10px;
    overflow: scroll;
}
