<html>
	<head>
		<title>Welcome !</title>
		<meta charset="utf-8" />
	</head>
	<body>
		<h1>Welcome to your plug.dj like website !</h1>
		<p>You can customize every page to fit like you want.<br>
		you have to <a href="{{ path('fos_user_security_login') }}" >log in</a> to view all pages or <a href="{{ path('fos_user_registration_register') }}" >register</a> if you haven't already created an account</p>
	<hr />
	<div>
		<h2>Home page</h2>
		<p>You can customize this page by editing the src/Eliastre100/HomeBundle/resouces/views/Pages/index.html.twig<br />Note that for all page you can overload all pages <a href="http://symfony.com/doc/current/cookbook/bundles/override.html" >according to the documentation</a></p>
	</body>
</html>
