{% extends 'Eliastre100DashboardBundle::layout.html.twig' %}


{% block title %}
	Create a room : success
{% endblock %}

{% block content %}
	Room {{ name }} successfuly created !
	<hr />
	<p>You can modify this page by editing src/Eliastre100/Dashboard/Ressources/views/Rooms/create.success.html.twig or overload it</p>
{% endblock %}
